<div class="row">
  <div class="col">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href [routerLink]="['..']">Recipes</a>
        </li>
        <li class="breadcrumb-item active">{{ recipe.name }}</li>
      </ol>
    </nav>
    <img class="img-fluid" [src]="recipe.photo" [alt]="recipe.name">
    <h2 class="text-center">{{ recipe.name }}</h2>
  </div>
  <div class="w-100"></div>
  <div class="col text-center">
    <span>{{ recipe.averageRating }}/5</span><br>
    <span>Reviews (<a href [routerLink]="['./review']">{{ recipe.numReviews }}</a>)</span>
  </div>
  <div class="col text-center">
    <span>{{ recipe.averageMakeAgain }}%</span><br>
    <span>Make it again</span>
  </div>
  <div class="w-100"></div>
  <div class="col">
    <p [innerHTML]="recipe.description"></p>
    <strong>Ingredients</strong>
    <ul>
      <li *ngFor="let ingredient of recipe.ingredients">{{ ingredient.description }}</li>
    </ul>
    <strong>Instructions</strong>
    <p [innerHTML]="recipe.instructions"></p>
  </div>
</div>
