<div class="row">
  <div class="col">
    <form novalidate (ngSubmit)="search()" #searchForm="ngForm">
      <input
        class="form-control"
        type="text"
        placeholder="Find a recipe"
        name="search"
        required
        [(ngModel)]="query"
      >
    </form>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card" [routerLink]="['.', recipe.id]" *ngFor="let recipe of recipes">
      <img class="card-img-top" [src]="recipe.photo" [alt]="recipe.name">
      <div class="card-body">
        <h5 class="card-title">{{ recipe.name }}</h5>
      </div>
    </div>
  </div>
</div>
